body {
  background-color: #edefee;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
  max-height: auto;
  display: grid;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

#logo {
  width: 80%;
  padding: 5% 10%;
}

nav ul {
  list-style: none;
  text-align: center;
}

nav li {
  display: inline-block;
}

nav {
  border-radius: 10px;
  background-color: #495e57;
  padding: 0.5rem;
  margin-bottom: 1.5rem;
}

nav a {
  color: white;
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
}

nav a:hover {
  color: #495e57;
  background-color: white;
  border-radius: 10px;
}

section {
  display: flex;
}

/* article {
  flex: 1;
} */

#banner {
  padding: 1rem;
  background-image: url(/img/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  color: white;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  margin-bottom: 1.5rem;
}

#banner-head {
  font-size: 2vw;
  text-align: left;
}

/* Need to be fixed */
#section-cont {
  border-radius: 10px;
  background-color: bisque;
  padding: 2rem;
  margin: 0.5rem;
}

#section-cont:first-of-type {
  margin-left: 0;
}

#section-cont:last-of-type {
  margin-right: 0;
}

#container-img {
  height: 200px;
  width: 300px;
}

article a {
  color: #495e57;
  font-weight: bold;
  text-decoration: none;
}

article a:hover {
  color: white;
  background-color: #495e57;
  padding: 4px;
  border-radius: 4px;
}

footer {
  display: flex;
  padding-top: 3rem;
}

footer div {
  flex: 1;
}

.footer-logo img {
  max-height: 100px;
}

#copyright {
  color: #495e57;
  font-size: 1rem;
  font-weight: bold;
  text-align: end;
}
